html, body {
	height: 100%;
}

body {
	font-family: "Open Sans", sans-serif;
	background-image: url("/images/17753.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.display-3, label {
	color: white;
}

.container {
	margin-top: 100px;
}